#cont {border:1px solid black;}
/*.draggable { width: 150px; height: 150px; padding: 0.5em; }
.card {width:100px;height:100px;border:1px solid green;background-color:orange;}
.enemy {width:100px;height:100px;border:1px solid rgb(128, 0, 0);background-color:rgb(57, 103, 184);}*/
#statusBar {background-color:lightseagreen;border:1px solid white;display:flex;flex-direction: row;}
#arena {background-color:darkslategray;height:50%;}
#playArea{background-color:lightslategray;border:1px solid white;}
.card:hover,.enemy:hover {font-weight:bold;}
.card:hover {transform:scale(1.10)}
#player {display:inline-block;width:45%;}
#enemies {display:inline-block;width:45%;}
.card {display:inline-block;height:200px;width:100px;border:1px double black;border-radius: 5%;background-color:white;}
.cardTitle {background-color:blue;height:10%;}
.cardImage {background-color:transparent;height:40%;}
.cardDescription {background-color:aliceblue;height:45%;}
img {max-width: 100px;max-height: 200px;}
#mana {background-color:darkblue;color:whitesmoke;border:1px solid blue;border-radius: 50%;width:2em;text-align:center;margin-bottom:0.25em;}
#drawPile,#discardPile {background-color:burlywood;height:3em;width:2em;border:1px inset rgba(212, 182, 62, 0.619);text-align:center;}
#drawPile,#discardPile p {vertical-align: middle;}
#deck {display:flex;justify-content: space-between;width:fit-content;}
#hand {display:flex;margin-top:0.25em;margin:0 auto;width:fit-content;}
