#cont {width:800;height:600;border:1px solid black;}
/*.draggable { width: 150px; height: 150px; padding: 0.5em; }
.card {width:100px;height:100px;border:1px solid green;background-color:orange;}
.enemy {width:100px;height:100px;border:1px solid rgb(128, 0, 0);background-color:rgb(57, 103, 184);}*/
.card:hover,.enemy:hover {font-weight:bold;}