body {background-color:black;}
.unselectable,p,label {user-select:none;}
#cont {border:1px solid black;max-width:fit-content;min-width:50%;margin:0 auto;}
/*.draggable { width: 150px; height: 150px; padding: 0.5em; }
.card {width:100px;height:100px;border:1px solid green;background-color:orange;}
.enemy {width:100px;height:100px;border:1px solid rgb(128, 0, 0);background-color:rgb(57, 103, 184);}*/
#statusBar {background-color:lightseagreen;border:1px solid white;font-size:2em;display:flex;flex-direction: row;}
#arena {background-color:darkslategray;display:flex;flex-direction:row;}
#playArea{background-color:lightslategray;border:1px solid white;display:flex;flex-direction:row;height:fit-content;min-height: 205px;}
.card:hover,.enemy:hover {font-weight:bold;}
.card:hover {transform:scale(1.10)}
/*#player {display:inline-block;width:45%;}*/
#player {display:flex;flex-direction:row;}
#enemies {display:flex;flex-direction:column;margin-left:10%;}
#enemies label {font-size:1.25em;}
/*#enemies {display:inline-block;width:45%;}*/
.card {display:inline-block;height:200px;width:100px;border:1px double black;border-radius: 5%;background-color:white;}
.cardTitle {background-color:blue;height:10%;}
.cardImage {background-color:transparent;height:40%;}
.cardDescription {background-color:aliceblue;height:45%;}
img {max-width: 100px;max-height: 200px;}
#mana {background-color:darkblue;color:whitesmoke;border:2px ridge white;border-radius: 50%;width:2em;height:3em;text-align:center;margin-bottom:0.25em;}
#drawPile,#discardPile {background-color:burlywood;height:3em;width:2em;border:1px inset rgba(212, 182, 62, 0.619);text-align:center;}
#drawPile,#discardPile,#mana p {vertical-align: middle;}
#deck {display:flex;justify-content: space-between;width:fit-content;}
#hand {display:flex;margin-top:0.25em;margin:0 auto;width:fit-content;}
button {height:fit-content;}
.highlightTarget {background-color:rgb(151, 169, 183);}
/*
Progress bar styles. 
These are really annoying to style. 
CSS based on https://verpex.com/blog/website-tips/how-to-style-a-progress-bar-using-css
*/
progress[value] {
    --color: rgb(97, 40, 40); /* the progress color */
    --background: rgb(81, 80, 80); /* the background color */
    --borderstyle:1px solid whitesmoke;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /*border: none;
    width: 200px;
    margin: 0 10px;*/
    border-radius: 10em;
    border: var(--borderstyle);
    background: var(--background);
    margin-left:1em;
  }
  progress[value]::-webkit-progress-bar {
    border-radius: 10em;
    border: var(--borderstyle);
    background: var(--background);
  }
  progress[value]::-webkit-progress-value {
    border-radius: 10em;
    background: var(--color);
  }
  progress[value]::-moz-progress-bar {
    border-radius: 10em;
    border: var(--borderstyle);
    background: var(--color);
    margin-left:1em;
  }
